/* Box model | Todas las cajas tienen propiedades naturales

1-Contenido (Textos y multimedia)
2-Relleno (Padding)
3-Borde de la caja (Border)
4-Margen, esta por fuera de la caja, pegado al borde (margin)
*/
/* border, es la unica propiedad que contien 3 valores a la misma, tamaño estilo y color
border: 1px solid #gray
*/
/* URL - Nos pide el archivo de la imagen que queremos poner, y colocamos la ruta de esa imagen dentro de comillas */
/* Siempre va acompañada de otras propiedades
background-image: url('1.png');
background-size: cover;
background-repeat: no-repeat; */

*{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #10069F;
    align-content: center;
}

.search-container {
    margin: auto;
}

form {
    display: flex;
    align-items: center;
    border-radius: 5px;
}


button {
    border-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 2px;
    padding: 11px;
    background-color: #10069F;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #10069F;
}

button i {
    font-size: 18px;
}

input[type="text"] {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: white;
    font-family: inter;
    padding: 10px;
    font-size: 16px;
    color: white;
    width: 200px;
    outline: none;
    background-color: #10069F;
}

.paginas {
    color: white;
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: center;
}

.paginas li {
    margin: 0 15px;
}

.paginas li a {
    color: white;
    text-decoration: none;
    padding: 25px 20px;
    display: flex
}

.titulobanner {
    font-size: 50px;
    font-family: inter;
    font-weight: 700;
    color: white;
}

h2 {
    align-content: center;
}

.botonbanner {
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 16px;
    color: white;
    background-color: #5148D1;
    border-radius: 10px;
    border-width: 0;
}

.banner {
    padding-left: 10%;
    width: 100%;
    height: 450px;
    background-image: url(Imágenes/img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    justify-content: left;
    align-content: center;
}

.titulobody {
    text-align: center;
    font-family: inter;
    color: red;
    padding: 30px
}

.textobody {
    text-align: center;
    font-family: inter;
    font-size: 15px;
    padding-bottom: 40px;
}

hr {
    color: red;
}