/* Box model | Todas las cajas tienen propiedades naturales

1-Contenido (Textos y multimedia)
2-Relleno (Padding)
3-Borde de la caja (Border)
4-Margen, esta por fuera de la caja, pegado al borde (margin)
*/
/* border, es la unica propiedad que contien 3 valores a la misma, tamaño estilo y color
border: 1px solid #gray
*/
/* URL - Nos pide el archivo de la imagen que queremos poner, y colocamos la ruta de esa imagen dentro de comillas */
/* Siempre va acompañada de otras propiedades
background-image: url('1.png');
background-size: cover;
background-repeat: no-repeat; */

/*Flexbox tiene dos elementos internos | Flex container y el Flex items*/
/*Necesitamos activar flexbox para que los navegadores entiendan que esta estructura HTML es flexible*/
/*Si activamos el flex con display:flex podemos usar más caracteristicas*/

/*Grid: Hay que activarlo con display:grid , para definir filas: grid-template-rows: 150px 150px 150px 150px,
para definir columnas: grid-template-columns: 150px 150px 150px 150px o grid-template-clomuns: repeat(4, 150px)o 1fr 1fr 1fr 1fr o (4, 1fr)*/

/*Margin o padding para grid: gap: 40px*/
/*Areas de grid:

grid-template-areas:
'arriba arriba arriba'
'produc produc publi'
'produc produc publi'
'testi testi testi'

.banner {
grid-area: arriba;
}*/

/*Position nos permite modificar la posición natural de un elemento en particular*/

/* position: relative , mueve el elemento en relacion con el lugar donde normalmente aparecería por default*/
/*top: 30px
left: 30px*/

/*position: absolute (se rige por los 4 lados de la ventana) es muy parecido al relative, pero el desplazamiento del absolute es en relación a los 4 lados de la pantalla*/

/*position: fixed , funciona como el absolute en los 4 lados, la diferencia clave es que un elemento con position fixed, no se desplaza con el resto de la pagina*/

/*position: sticky, funciona muy parecido al fixed, toma los 4 lados de la pantalla, y se queda pegado en el lugar de las coordenadas seteadas, pero solo se acriva cuando llega a ese punto configurado*/

/*Mobile styles: en mi body, cuando la pantalla sea mobile, que el background-color cambie*/
/*Regla media query de css se forma asi:
@media only screen and (max-width: 498px) {
             body {
                   background-color: red;
                   }
        }
*/

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 0px 0px;
}

.header {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    background-color: #10069F;
    align-items: center;
    gap: 20px;
}

.img-logo {
    height: auto;
    max-width: 300px;
    object-fit: contain;
}

.logo {
    justify-self: start;
    object-fit: contain;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    align-content: center;
}


.search-container form {
    display: flex;
  }

.search-container input[type="text"] {
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
  }

.search-container button {
    padding: 5px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #10069F;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.button.iconobusqueda:hover {
    background-color: #08034b;
    color: #10069F;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer .logo {
    width: 100%;
    height: auto;
}

.footer .navbar {
    margin-top: 10px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar .paginas {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

.navbar .paginas li {
    display: flex;
    align-items: center;
  }

.navbar .paginas .dropdown {
    position: relative;
  }

.navbar .paginas .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

.navbar .paginas .dropdown:hover .dropdown-menu {
    display: block;
  }

.navbar .paginas .dropdown-item {
    padding: 10px;
    color: black;
    text-decoration: none;
  }

.navbar .paginas .dropdown-item:hover {
    background-color: #f8f9fa;
  }

.footer .paginas li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.footer .paginas li a:hover {
    background-color: #555;
}

.btn-secondary {
    background-color: #10069F;
    border: 0px;
}

button {
    border-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 2px;
    padding: 11px;
    background-color: #10069F;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #10069F;
}

button i {
    font-size: 18px;
}


input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: white;
    font-family: inter;
    padding: 10px;
    font-size: 16px;
    color: #10069F;
    width: 200px;
    outline: none;
    background-color: #10069F;

}


.paginas {
    color: white;
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: center;
}

.paginas li {
    margin: 0 15px;
}

.paginas li a {
    color: white;
    text-decoration: none;
    padding: 25px 20px;
    display: flex;
}

.titulo-banner {
    font-size: 50px;
    font-family: inter;
    font-weight: 700;
    color: white;
}

h2 {
    align-content: center;
}

.boton-banner {
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 16px;
    color: white;
    background-color: #5148D1;
    border-radius: 10px;
    border-width: 0;
}

.banner {
    padding-left: 10%;
    width: 100%;
    height: 450px;
    background-image: url(Imágenes/img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    justify-content: left;
    align-content: center;
}

.titulo-body {
    text-align: center;
    font-family: inter;
    color: red;
    padding: 30px;
}

.texto-body {
    text-align: center;
    font-family: inter;
    font-size: 15px;
    padding-bottom: 40px;
}

hr {
    color: red;
}

.img-historia {
    width: 250px;
    height: auto;
}

.form {
    display: grid;
}

.form-control {
    background-color: white;
}

.container.mt-5 {
    padding-bottom: 70px;
}

#myCarousel {
    margin: 0;
    padding: 0;
  }

.carousel-inner {
    width: 100%;
    height: 60vh; /* Ocupar toda la altura de la pantalla */
  }

.container.mt-3 {
    padding: 0%;
    margin: 0%;
}

.carousel-inner img {
    width: 100%;
    height: 50%;
  }

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
  }

.mt-3 {
    margin-top: 0rem !important;
}

/* Estilo para el título de la galería */
.photo-gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* Estilo para cada elemento de la galería */
  .gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  /* Efecto de zoom al hacer hover sobre la imagen */
  .gallery-item:hover {
    transform: scale(1.05);
  }
  
  /* Asegúrate de que las imágenes se ajusten bien dentro de su contenedor */
  .gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }